.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  width: 720px;
  height: 360px;
}
.wrapper-button {
  margin-top: -40px;
  display: flex;
  z-index: 10000;
  /* margin: 20px 0; */
}
.wrapper-button div {
  margin: 5px;
}
